.App {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
.weather {
  width: 100%;
  background-color: lightgray;
  color: green;
  padding-left: 20px;
}

.formBox {
  border: 0.5px solid black;
  text-align: center;
  width: 150px;
  padding: 10px;
  margin: 20px 0px;
}
.city-text {
  text-align: left;
  font-weight: bolder;
  margin-left: 5px;
}
.city-name {
  font-weight: bold;
  font-size: 24px;
}
